@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.Navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.Logo {
  width: 80px;
  height: 80px;
}

.NavigationBar {
  display: flex;
  flex-direction: row;
  gap: 30px;

  justify-content: right;
  width: 450px;
}

.NavLink {
  font-family: 'Inter', sans-serif;
  font: 15px;
  font-weight: 500;

  text-decoration: none;
  color: hsl(236, 13%, 42%); /* dark grayish blue */

  transition: color 250ms;
}

.NavLink:hover {
  color: hsl(5, 85%, 63%); /* soft red */
}
