/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
/* body { */
/*   font-family: 'Inter', sans-serif; */
/* } */

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  /* width: 69rem; */
  width: 72rem;
  gap: 40px;
}

.Top {
  width: 100%;
}

.Middle {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 34rem;
  width: 100%;
}

.Bottom {
  width: 100%;
  margin: 20px 0 0 0;
}
