.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.Top {

}

.Middle {
  display: flex;
  flex-direction: row;
  gap: 30px;
  min-height: 33.938rem;
}

.Bottom {

}
