.SideSubHeading {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 33.938rem;

  background-color: hsl(240, 100%, 5%); /* very dark blue */
}

.Title {
  color: white;
}

.NewsBlock {

}

.BlockHeading {
  color: white;
}

.BlockSubHeading {
  color: white;
}
