.SideSubHeading {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-evenly;

  width: 100%;
  padding: 37px 28px 37px 28px;

  background-color: hsl(240, 100%, 5%); /* very dark blue */
}

.LineBreak {
  width: 100%;
  /* border: solid white; */
  border-bottom: 2px solid rgba(255,255,255,.25);
}

.Title {
  color: hsl(35, 77%, 62%);
  font-size: 50px;
  font-weight: 700;
}

.NewsBlock {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.BlockHeading {
  color: white;
  font-weight: bolder;
}

.BlockSubHeading {
  color: white;
  font-weight: lighter;
}
